.quiqqer-products-productList-categories {
    margin-bottom: 40px;
}

.quiqqer-products-productList-sort {
    border-color: #cdd4d5;
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    width: 100%
}

.quiqqer-products-productList-sort-sorting {
    font-size: 16px;
    line-height: 40px;
    padding: 0 !important;
}

.quiqqer-products-productList-sort-sorting .qui-select {
    margin: 4px 0 0 0;
}

.quiqqer-products-productList-sort-display {
    border: none;
    line-height: 20px;
    text-align: right;
}

.quiqqer-products-productList-sort-display .button {
    border: none;
    line-height: 40px !important;
    padding: 0 10px !important;
}

.quiqqer-products-productList-sort__noProducts {
    opacity: 0.5;
    padding: 40px;
    text-align: center;
}

/** Filter
 ================================================= */

.quiqqer-products-productList-sort-filter {
    border: 1px solid #dfe4e4;
    float: left;
    margin: 4px 10px 0 0;
    padding: 0;
}

.quiqqer-products-productList-sort-filter .button {
    border: none;
    line-height: 28px !important;
    padding: 0 20px !important;
    text-transform: none !important;
}

.quiqqer-products-productList-sort-filter button span {
    font-weight: normal;
}

.quiqqer-products-productList-filter-container {
    float: left;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.quiqqer-products-productList-filter-entry {
    float: left;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 33.333%;
}

.quiqqer-products-productList-filter-entry:first-child,
.quiqqer-products-productList-filter-entry:nth-child(1n+3) {
    padding: 0 20px 0 0;
}

.quiqqer-products-productList-filter-entry:nth-child(3n) {
    padding-left: 20px;
    padding-right: 0;
}

.quiqqer-products-productList-filter-entry-title {
    clear: both;
    float: left;
    font-size: 12px;
    width: 100%;
}

.quiqqer-products-productList-filter-entry-select {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-products-productList-fl {
    border-bottom: 1px solid #cdd4d5;
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-products-productList-filterList {
    float: left;
    font-size: 14px;
    margin: 20px 0;
    paddinG: 5px 0 0 0;
    width: 50%;
}

.quiqqer-products-productList-filterList-title {
    float: left;
    line-height: 20px;
}

.quiqqer-products-productList-filterList-list {
    float: left;
    max-width: calc(100% - 140px);
    padding: 0 10px;
    width: 600px;
}

.quiqqer-products-productList-resultInfo {
    float: left;
    margin: 20px 0;
    width: 50%;
}

.quiqqer-products-productList-resultInfo-text,
.quiqqer-products-productList-resultInfo-clearbtn {
    float: left;
    padding: 0 20px !important;
    text-align: center;
    width: 50%;
}

.quiqqer-products-productList-resultInfo-text {
    font-size: 14px !important;
    text-align: right;
}

.quiqqer-products-productList-resultInfo-clearbtn {
    font-size: 12px !important;
}

@media (max-width: 768px) {
    .quiqqer-products-productList-filter-entry {
        width: 50%;
    }

    .quiqqer-products-productList-filter-entry:first-child,
    .quiqqer-products-productList-filter-entry:nth-child(2n+1) {
        padding: 0 10px 0 0;
    }

    .quiqqer-products-productList-filter-entry:nth-child(2n) {
        padding: 0 0 0 10px;
    }
}

/** Produkte
 ================================================= */

.quiqqer-products-productList-products-container {
    float: left;
    overflow: hidden;
    width: 100%;
}

.quiqqer-products-productList-products-more {
    clear: both;
    text-align: center;
}

.quiqqer-products-productList-products-more .button {
    clear: both;
    cursor: pointer;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    width: calc(33% - 20px);
}

.quiqqer-products-productList-products-product-row {
    clear: both;
    float: left;
    width: 100%;
}

@media (max-width: 768px) {
    .quiqqer-products-productList-products-more .button {
        max-width: 100%;
        width: 200px;
    }
}