
.quiqqer-products-productGallery-products-product {
    height: 180px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.quiqqer-products-productGallery-products-product:first-child,
.quiqqer-products-productGallery-products-product:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 20px;
}

.quiqqer-products-productGallery-products-product:nth-child(3n) {
    padding-left: 20px;
    padding-right: 0;
}

.quiqqer-products-productGallery-products-product a {
    display: block;
    border: 1px solid #dfe4e4;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.quiqqer-products-productGallery-products-product header {
    background: #dfe4e4;
    bottom: 0;
    float: left;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    padding: 0 30px 0 10px;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: calc(100% - 30px);
    white-space: nowrap;
    width: 100%;
    z-index: 2;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.quiqqer-products-productGallery-products-product-details {
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}

.quiqqer-products-productGallery-products-product img {
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 10px 10px 40px 10px;
    z-index: 1;
}

.quiqqer-products-productGallery-products-product-short {
    background: #dfe4e4;
    color: #666;
    font-size: 14px;
    height: calc(100% - 30px);
    left: 0;
    line-height: 20px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 2;

    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -ms-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
}

.quiqqer-products-productGallery-products-product-short-open,
.quiqqer-products-productGallery-products-product:hover .quiqqer-products-productGallery-products-product-short {
    top: 30px;

    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -ms-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
}

.quiqqer-products-productGallery-products-product:hover header {
    bottom: auto;
    top: 0;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.quiqqer-products-productGallery-products-product .fa-sort-down {
    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -ms-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
}

.quiqqer-products-productGallery-products-product-short-open .fa-sort-down,
.quiqqer-products-productGallery-products-product:hover .fa-sort-down {
    transform: rotate(-90deg);

    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -ms-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
}

@media (max-width: 768px) {
    .quiqqer-products-productGallery-products-product {
        clear: none;
        float: left;
        width: 50%;
    }

    .quiqqer-products-productGallery-products-product:nth-child(odd) {
        padding-left: 0;
        padding-right: 10px;
    }

    .quiqqer-products-productGallery-products-product:nth-child(even) {
        padding-left: 10px;
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    .quiqqer-products-productGallery-products-product {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
}