.quiqqer-productList-product-list {
    border-bottom: 1px solid #f1f1f1;
    clear: both;
    float: left;
    padding: 10px 0;
    width: 100%;
}

.quiqqer-productList-product-list-text {
    float: left;
    padding: 0 10px;
    width: calc(100% - 200px);
}

.quiqqer-productList-product-list-price {
    line-height: 20px;
    padding: 10px;
    text-align: right;
}

.quiqqer-productList-product-list-price,
.quiqqer-productList-product-list-buttons {
    float: right;
    width: 100px;
}

.quiqqer-productList-product-list-buttons {
    cursor: pointer;
    float: right;
    line-height: 20px;
    text-align: right;
}