.quiqqer-products-folder-settings {
    height: 100%;
    width: 100%;
}

.quiqqer-products-folder-settings label {
    padding: 5px;
    width: 100% !important;
}

.quiqqer-products-folder-settings .field-container-item-desc {
    padding: 10px !important;
}