.quiqqer-products-field-grouplist-multipleUsers {
    float: left;
    padding: 10px;
    width: 100%;
}

.quiqqer-products-field-grouplist-multipleUsers label {
    width: 100% !important;
}

.quiqqer-products-field-grouplist-groupValue.field-container-field {
    display: block;
}

.quiqqer-products-field-grouplist-groupValue {
    clear: both;
    float: left;
    width: 100%;
}

.quiqqer-products-field-grouplist-groupValue-title {
    background: rgba(0, 0, 0, 0.05);
    clear: both;
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}