
.quiqqer-products-field-inputmultilang-entry {
    border-bottom: 1px solid #ddd;
}

.quiqqer-products-field-inputmultilang-entry:last-child {
    border-bottom: 0;
}

.quiqqer-products-field-inputmultilang-entry img {
    padding-right: 10px;
}

.quiqqer-products-field-inputmultilang-entry input,
.quiqqer-products-field-inputmultilang-entry input:hover,
.quiqqer-products-field-inputmultilang-entry input:focus {
    border: none;
    padding-left: 30px;
    width: 100%;
}

.quiqqer-products-field-inputmultilang-entry input {
    background-position: 5px center;
    background-repeat: no-repeat;
}

.quiqqer-products-field-inputmultilang-entry input:focus {
    background-color: rgba(0, 0, 0, 0.075);
    box-shadow: none;
}

.quiqqer-products-field-inputmultilang__minimize .quiqqer-products-field-inputmultilang-entry {
    border-bottom: 0;
}

.quiqqer-products-field-inputmultilang-button .fa {
    margin-top: 8px;
}
