<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onTemplateGetHeader" fire="\QUI\ERP\Products\EventHandling::onTemplateGetHeader"/>
    <event on="onPermissionsSet" fire="\QUI\ERP\Products\EventHandling::onPermissionsSet"/>
    <event on="onRequest" fire="\QUI\ERP\Products\EventHandling::onRequest"/>

    <!-- package events -->
    <event on="onPackageSetup" fire="\QUI\ERP\Products\EventHandling::onPackageSetup"/>
    <event on="onPackageInstall" fire="\QUI\ERP\Products\EventHandling::onPackageInstall"/>
    <event on="onPackageConfigSave" fire="\QUI\ERP\Products\EventHandling::onPackageConfigSave"/>

    <!-- site events -->
    <event on="onSiteSave" fire="\QUI\ERP\Products\EventHandling::onSiteSave"/>
    <event on="onSiteCreateChild" fire="\QUI\ERP\Products\EventHandling::onSiteCreateChild"/>
    <event on="onSiteSaveBefore" fire="\QUI\ERP\Products\EventHandling::onSiteSaveBefore"/>
    <event on="onSiteLoad" fire="\QUI\ERP\Products\EventHandling::onSiteLoad"/>

    <!-- cache events -->
    <event on="onClearSettingsCache" fire="\QUI\ERP\Products\EventHandling::onFrontendCacheClear"/>
    <event on="onClearProjectsCache" fire="\QUI\ERP\Products\EventHandling::onFrontendCacheClear"/>
    <event on="onClearProjectCache" fire="\QUI\ERP\Products\EventHandling::onFrontendCacheClear"/>

    <!-- order events -->
    <event on="onQuiqqerOrderSuccessful" fire="\QUI\ERP\Products\EventHandling::onQuiqqerOrderSuccessful"/>
</events>
