<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="erp"
          icon="icon-sun"
    >
        <locale group="quiqqer/products" var="menu.erp.title" />
    </item>
    <item parent="/extras/erp/"
          name="products"
          require="package/quiqqer/products/bin/controls/products/Panel"
          icon="fa fa-shopping-bag"
    >
        <locale group="quiqqer/products" var="menu.erp.products.products.title" />
    </item>
    <item parent="/extras/erp/"
          name="categories"
          require="package/quiqqer/products/bin/controls/categories/Panel"
          icon="fa fa-shopping-basket"
    >
        <locale group="quiqqer/products" var="menu.erp.products.categories.title" />
    </item>

</menu>
