<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="products">
                <conf name="folder">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="hidePrices">
                    <type><![CDATA[bool]]></type>
                </conf>
                <conf name="hideDiscounts">
                    <type><![CDATA[bool]]></type>
                </conf>
                <conf name="frontendAnimationDuration">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>300</defaultvalue>
                </conf>
                <conf name="mainCategory">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="usePermissions">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="categoryShowFilterLeft">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="categoryAsFilter">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="categoryPos">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>top</defaultvalue>
                </conf>
                <conf name="productLoadNumber">
                    <type><![CDATA[number]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="autoloadAfter">
                    <type><![CDATA[number]]></type>
                    <defaultvalue>3</defaultvalue>
                </conf>
                <conf name="useAttributeListsForMinMaxPriceCalculation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="resetFieldsAction">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>
            <section name="search">
                <conf name="backend">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="frontend">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="freetext">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
            <section name="variants">
                <conf name="parentHasChildImages">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="useAttributesForVariantUrl">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="findChildrenInSearch">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="findVariantParentByChildValues">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="hideAttributeGroupsWithNoOptions">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>
            <section name="editableFields"/>
        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/products" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="products" index="2">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                    </text>
                    <icon>fa fa-shopping-bag</icon>

                    <settings title="products" name="products">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                        </title>

                        <input conf="products.hidePrices" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.hidePrices"/>
                            </text>
                        </input>

                        <input conf="products.hideDiscounts" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.hideDiscounts"/>
                            </text>
                        </input>

                        <input conf="products.frontendAnimationDuration" type="text">
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.frontendAnimationDuration"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.frontendAnimationDuration.description"/>
                            </description>
                        </input>

                        <input conf="products.usePermissions" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.usePermissions"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.usePermissions.description"/>
                            </description>
                        </input>

                        <input conf="products.folder" class="media-folder">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.folder"/>
                            </text>
                        </input>

                        <input conf="products.useAttributeListsForMinMaxPriceCalculation" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.useAttributeListsForMinMaxPriceCalculation.text"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.useAttributeListsForMinMaxPriceCalculation.description"/>
                            </description>
                        </input>

                        <select conf="products.resetFieldsAction">
                            <option value="0">
                                <locale group="quiqqer/products"
                                        var="settings.window.products.resetFieldsAction.option.0"
                                />
                            </option>
                            <option value="1">
                                <locale group="quiqqer/products"
                                        var="settings.window.products.resetFieldsAction.option.1"
                                />
                            </option>

                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.resetFieldsAction.title"
                                />
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.resetFieldsAction.description"
                                />
                            </description>
                        </select>
                    </settings>

                    <settings>
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.category.title"/>
                        </title>
                        <input conf="products.mainCategory"
                               data-qui="package/quiqqer/products/bin/controls/categories/Select"
                               data-qui-options-max="1"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.mainCategory"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.mainCategory.description"/>
                            </description>
                        </input>

                        <input conf="products.categoryShowFilterLeft" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.showFilterLeft"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.showFilterLeft.description"/>
                            </description>
                        </input>

                        <input conf="products.categoryAsFilter" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.categoryAsFilter"/>
                                <description>
                                    <locale group="quiqqer/products"
                                            var="settings.window.products.categoryAsFilter.description"/>
                                </description>
                            </text>
                        </input>


                        <select conf="products.categoryPos">
                            <text>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.categoryPos"/>
                            </text>

                            <option value="top">
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.categoryPos.top"/>
                            </option>
                            <option value="bottom">
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.categoryPos.bottom"/>
                            </option>
                        </select>

                        <input conf="products.productLoadNumber" type="number">
                            <text>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.productLoadNumber"/>
                            </text>
                        </input>
                        <select conf="products.autoloadAfter">
                            <text>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.autoloadAfter"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.autoloadAfter.description"/>
                            </description>

                            <option value="0">
                                <locale group="quiqqer/products"
                                        var="quiqqer.products.settings.autoloadAfter.disabled"/>
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>

                    </settings>

                    <settings title="variants" name="variants">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.variants.title"/>
                        </title>

                        <input conf="variants.useAttributesForVariantUrl" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.useAttributesForVariantUrl"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.useAttributesForVariantUrl.description"/>
                            </description>
                        </input>

                        <input conf="variants.parentHasChildImages" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.parentHasChildImages"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.parentHasChildImages.description"/>
                            </description>
                        </input>

                        <input conf="variants.findChildrenInSearch" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.findChildrenInSearch"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.findChildrenInSearch.description"/>
                            </description>
                        </input>

                        <input conf="variants.findVariantParentByChildValues" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.findVariantParentByChildValues"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.findVariantParentByChildValues.description"/>
                            </description>
                        </input>

                        <input conf="variants.hideAttributeGroupsWithNoOptions" type="checkbox">
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.hideAttributeGroupsWithNoOptions"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.hideAttributeGroupsWithNoOptions.description"/>
                            </description>
                        </input>

                        <input conf="editableFields"
                               data-qui="package/quiqqer/products/bin/controls/products/variants/EditableInheritedFieldSettings"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.editableFields"/>
                            </text>
                        </input>
                    </settings>
                </category>

                <category name="adminSearchFields" index="4">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.fieldsearch.title"/>
                    </text>
                    <icon>fa fa-search</icon>

                    <settings title="backend" name="backend">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.backend.title"/>
                        </title>
                        <input conf="search.backend"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.fieldsearch.backend.description"/>
                            </text>
                        </input>
                    </settings>

                    <settings title="frontend" name="frontend">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.frontend.title"/>
                        </title>
                        <input conf="search.frontend"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.fieldsearch.frontend.description"/>
                            </text>
                        </input>
                    </settings>

                    <settings title="freetext" name="freetext">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.freetext.title"/>
                        </title>
                        <input conf="search.freetext"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.fieldsearch.freetext.description"/>
                            </text>
                        </input>
                    </settings>
                </category>
            </categories>
        </window>

        <window name="quiqqer-cache">
            <categories>
                <category>
                    <title>
                        <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                    </title>
                    <icon>fa fa-shopping-bag</icon>

                    <settings title="products" name="products">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                        </title>
                        <input type="hidden"
                               data-qui="package/quiqqer/products/bin/controls/products/settings/ClearProductCache"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.clearcache"/>
                            </text>
                        </input>
                    </settings>
                </category>
            </categories>
        </window>

    </settings>
</quiqqer>
