<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="products">
                <conf name="folder">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="hidePrices">
                    <type><![CDATA[bool]]></type>
                </conf>
                <conf name="mainCategory">
                    <type><![CDATA[integer]]></type>
                </conf>
                <conf name="usePermissions">
                    <type><![CDATA[integer]]></type>
                </conf>
            </section>
            <section name="search">
                <conf name="backend">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="frontend">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="freetext">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/products" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="products" index="1">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                    </text>
                    <icon>fa fa-shopping-bag</icon>

                    <settings title="products" name="products">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                        </title>

                        <input conf="products.hidePrices" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.hidePrices"/>
                            </text>
                        </input>

                        <input conf="products.usePermissions" type="checkbox">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.usePermissions"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.usePermissions.description"/>
                            </description>
                        </input>

                        <input conf="products.mainCategory"
                               data-qui="package/quiqqer/products/bin/controls/categories/Select"
                               data-qui-options-max="1"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.mainCategory"/>
                            </text>
                            <description>
                                <locale group="quiqqer/products"
                                        var="settings.window.products.mainCategory.description"/>
                            </description>
                        </input>

                        <input conf="products.folder" class="media-folder">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.folder"/>
                            </text>
                        </input>

                        <input type="hidden"
                               data-qui="package/quiqqer/products/bin/controls/products/settings/ClearProductCache"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.clearcache"/>
                            </text>
                        </input>
                    </settings>
                </category>

                <category name="adminSearchFields" index="4">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.fieldsearch.title"/>
                    </text>
                    <icon>fa fa-search</icon>

                    <settings title="backend" name="backend">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.backend.title"/>
                        </title>
                        <input conf="search.backend"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.fieldsearch.backend.description"/>
                            </text>
                        </input>
                    </settings>

                    <settings title="frontend" name="frontend">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.frontend.title"/>
                        </title>
                        <input conf="search.frontend"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.fieldsearch.frontend.description"/>
                            </text>
                        </input>
                    </settings>

                    <settings title="freetext" name="freetext">
                        <title>
                            <locale group="quiqqer/products" var="settings.window.fieldsearch.freetext.title"/>
                        </title>
                        <input conf="search.freetext"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products"
                                        var="settings.window.fieldsearch.freetext.description"/>
                            </text>
                        </input>
                    </settings>
                </category>
            </categories>

        </window>

    </settings>
</quiqqer>
