<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="products">
                <conf name="folder">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
            <section name="search">
                <conf name="backend">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window name="ERP">
            <title>
                <locale group="quiqqer/currency" var="window.erp.title"/>
            </title>
            <params>
                <icon>fa fa-sun-o</icon>
            </params>

            <categories>
                <category name="products" index="1">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                    </text>
                    <icon>fa fa-shopping-bag</icon>

                    <settings title="products" name="products">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.products.title"/>
                        </title>

                        <input conf="products.folder" class="media-folder">
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.folder"/>
                            </text>
                        </input>

                        <input type="hidden"
                               data-qui="package/quiqqer/products/bin/controls/products/settings/ClearProductCache"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.products.clearcache"/>
                            </text>
                        </input>
                    </settings>
                </category>

                <category name="adminSearchFields" index="4">
                    <text>
                        <locale group="quiqqer/products" var="menu.erp.products.fieldsearch.title"/>
                    </text>
                    <icon>fa fa-search</icon>

                    <settings title="search" name="search">
                        <title>
                            <locale group="quiqqer/products" var="menu.erp.products.fieldsearch.title"/>
                        </title>

                        <input conf="search.backend"
                               data-qui="package/quiqqer/products/bin/controls/products/search/Settings"
                        >
                            <text>
                                <locale group="quiqqer/products" var="settings.window.fieldsearch.select"/>
                            </text>
                        </input>
                    </settings>
                </category>
            </categories>

        </window>

    </settings>
</quiqqer>
