.category-data,
.category-sites,
.category-fields,
.category-products {
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

/** Fields
 ============================================== */

.category-data .field-container-item {
    width: 140px;
}
