@CHARSET "UTF-8";

.qui-products-categories-list {
    float: left;
    max-width: 400px;
    padding: 2px;
    position: relative;
    width: 100%;
}

.field-container > .qui-products-categories-list {
    max-width: none;
    padding: 0;
}

.qui-products-categories-list-list {
    position: relative;
    z-index: 2;
}

.qui-products-categories-list-list {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 100px;
    overflow: auto;
    width: 100%;
}

.qui-products-categories-list-search {
    clear: both;
    float: left;
    width: calc(100% - 50px);
}

.field-container-field > .qui-products-categories-list {
    max-width: none;
    padding: 0;
}

.field-container-field > .qui-products-categories-list .qui-products-categories-list-list {
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.qui-xml-panel-row-item > .qui-products-categories-list {
    border: 1px solid #dedede;
    padding: 0;
    width: calc(100% - 160px);
}

.field-container-field > .qui-products-categories-list .qui-products-categories-list-search {
    border: none;
}

/** DropDown
 ======================================================= */

.qui-products-categories-list-dropdown {
    background: #fff;
    border: 1px solid #dedede;
    padding: 5px;
    position: absolute;
    width: 200px;
    z-index: 10;
}

.qui-products-categories-list-dropdown .mark {
    color: red;
    font-weight: bold;
}

.qui-products-categories-list-dropdown-entry {
    clear: both;
    cursor: pointer;
    float: left;
    padding: 5px;
    width: 100%;
}

.qui-products-categories-list-dropdown-entry .fa {
    margin-right: 10px;
}

.qui-products-categories-list-dropdown-entry-hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
