@CHARSET "UTF-8";

.qui-products-categories-list {
    float: left;
    max-width: 400px;
    padding: 2px;
    position: relative;
    width: 100%;
}

.field-container > .qui-products-categories-list {
    border-top: 1px solid rgba(147, 128, 108, 0.25);
    flex: 1;
    float: none;
    max-width: none;
    padding: 0;
}

.qui-products-categories-list-list {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 100px;
    overflow: auto;
    position: relative;
    width: 100%;
    z-index: 2;
}

.qui-products-categories-list-resize {
    border-top: 1px solid #dedede;
    background: rgba(147, 128, 108, 0.1);
    clear: both;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 100%;
}

.qui-products-categories-list-search {
    clear: both;
    float: left;
    padding-left: 30px;
    width: calc(100% - 50px);
}

.qui-products-categories-list-search:focus {
    position: relative;
    z-index: 10;
}

.field-container-field > .qui-products-categories-list {
    max-width: none;
    padding: 0;
}

.field-container-field > .qui-products-categories-list .qui-products-categories-list-list {
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.qui-xml-panel-row-item > .qui-products-categories-list {
    border: 1px solid #dedede;
    padding: 0;
    width: calc(100% - 160px);
}

.field-container-field > .qui-products-categories-list .qui-products-categories-list-search {
    border: none;
}

.qui-products-categories-list-searchIcon {
    bottom: -1px;
    font-size: 14px;
    height: 30px;
    left: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 11;
}

.qui-products-categories--resizable .qui-products-categories-list-searchIcon {
    bottom: 22px;
}

/** DropDown
 ======================================================= */

.qui-products-categories-list-dropdown {
    background: #fff;
    border: 1px solid #dedede;
    max-height: 200px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    width: 200px;
    z-index: 10;
}

.qui-products-categories-list-dropdown .mark {
    color: red;
    font-weight: bold;
}

.qui-products-categories-list-dropdown-entry {
    clear: both;
    cursor: pointer;
    float: left;
    padding: 5px;
    width: 100%;
}

.qui-products-categories-list-dropdown-entry .fa {
    margin-right: 10px;
}

.qui-products-categories-list-dropdown-entry-hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
