
.category-update {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.category-update-container {
    float: left;
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
}

.category-update-buttons {
    border-top: 1px solid #dedede;
    clear: both;
    float: left;
    height: 50px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.category-update .field-container-item {
    width: 140px;
}

.category-update-fields input {
    border: 1px solid #fff;
    width: 100%;
}

.category-update-sites-icon {
    width: 50px !important;
}

.category-update-sites-remove {
    width: 70px !important;
}

.category-update-field-publish {
    padding-top: 13px;
    width: 70px !important;
}