.quiqqer-products-search {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.products-search-form--form-container {
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 0 20px 0 0;
    width: 280px;
}

.products-search-form--closer-container {
    background: #e1e4e9;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    float: left;
    height: 100%;
    padding: 0 20px 0 0;
    position: relative;
    width: 20px;
}

.products-search-form--closer-container .fa {
    line-height: 100px;
    top: calc(50% - 50px);
    position: absolute;
    text-align: center;
    width: 100%;
}

.products-search-form--result-container {
    float: left;
    height: 100%;
    overflow: hidden;
    width: calc(100% - 300px);
}