.quiqqer-products-search {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.products-search-form--form-container {
    float: left;
    height: 100%;
    padding: 0 20px 0 0;
    width: 300px;
}

.products-search-form--result-container {
    float: left;
    height: 100%;
    width: calc(100% - 300px);
}