.quiqqer-products-search {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.quiqqer-products-search-form,
.quiqqer-products-search-result {
    display: none;
    float: left;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-products-search .field-container {
    margin-bottom: 10px;
}

.quiqqer-products-search .field-container-field,
.quiqqer-products-search .field-container-item {
    padding: 0.2em 0.75em !important;
}

.quiqqer-products-search-result-container {
    float: left;
    height: 100%;
    width: 100%;
}