
.product-update {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.product-update .sheet {
    left: 0;
    height: 100%;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.product-update-data {
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

.product-update .field-container-item {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-update .field-container-item:first-child {
    font-size: 12px;
    line-height: 30px;
}

.product-data .field-container-item:last-child .fa {
    font-size: 14px;
}

.product-data .field-information {
    line-height: 30px;
}
