
.product-update {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.product-update .field-container-item {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-update-data {
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
