.variant-list,
.variants-tabs,
.variant-body {
    float: left;
    width: 100%;
}

.variant-list-variantListContainer {
    padding: 20px;
}

.variants-sheet {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.variant-list {
    padding: 20px 20px 0 20px;
}

.variant-body {
    border-top: 1px solid #DDDDDD;
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
    position: relative;
    top: -1px;
    z-index: 2;
}

.variants-tabs {
    margin-top: 10px;
    padding: 10px 0 0 0;
    position: relative;
    z-index: 3;
}

.quiqqer-products-panel-show-variant .qui-panel-categories button {
    opacity: 0.2;
}

.quiqqer-products-panel-show-variant .qui-panel-categories .qui-button-active {
    opacity: 1;
}

.variants-tabs .qui-toolbar-tab {
    background: #F2F2F2;
    color: #666;
    border-color: #e2dfdf;
}

.variants-tabs .qui-toolbar-tab:hover {
    background: #666;
    color: #fff;
}

.variants-tabs .qui-toolbar-tab.qui-toolbar-active:hover {
    background: #F2F2F2;
    color: #666;
    border-color: #e2dfdf;
}