
.field-create {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.field-create .field-container-item {
    width: 140px;
}

.field-create-header {
    margin-bottom: 20px;
}

.category-create-container {
    float: left;
    height: 100%;
    width: 100%;
}

.field-options {
    position: relative;
}
