@CHARSET "UTF-8";

.qui-fields-list {
    float: left;
    max-width: 400px;
    padding: 2px;
    position: relative;
    width: 100%;
}

.field-container > .qui-fields-list {
    border: 1px solid #dedede;
    border-left: 0;
    flex: 1;
    float: none;
    max-width: none;
    padding: 0;
}

.field-container > .qui-fields-list > button {
    border-radius: 0;
    border-left: 1px solid #dedede;
    box-shadow: none;
    height: 100%;
}

.field-container > .qui-fields-list-multiple > button {
    height: inherit;
}

.qui-fields-list-list {
    position: relative;
    z-index: 2;
}

.qui-fields-list-list {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 100px;
    overflow: auto;
    width: 100%;
}

.qui-fields-list.disabled .qui-fields-list-list,
.qui-fields-list.disabled .qui-fields-list-search {
    background: rgba(239, 239, 239, 0.5);
    border-color: rgba(239, 239, 239, 0.5);
}

.qui-fields-list-search {
    clear: both;
    float: left;
    width: calc(100% - 50px) !important;
}

.field-container > .qui-fields-list,
.field-container-field > .qui-fields-list {
    max-width: none;
    padding: 0;
}

.field-container > .qui-fields-list .qui-fields-list-list,
.field-container-field > .qui-fields-list .qui-fields-list-list {
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.field-container > .qui-fields-list .qui-fields-list-search,
.field-container-field > .qui-fields-list .qui-fields-list-search {
    border: none;
}

/** DropDown
 ======================================================= */

.qui-fields-list-dropdown {
    background: #fff;
    border: 1px solid #dedede;
    padding: 5px;
    position: absolute;
    width: 200px;
    z-index: 10;
}

.qui-fields-list-dropdown .mark {
    color: red;
    font-weight: bold;
}

.qui-fields-list-dropdown-entry {
    clear: both;
    cursor: pointer;
    float: left;
    padding: 5px;
    width: 100%;
}

.qui-fields-list-dropdown-entry-hover {
    background: #2F8FC6;
    color: #FFFFFF;
}
