.quiqqer-bricks-children-slider {
    float: none;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-children-slider-container-wrapper {
    height: 100%;
    position: relative;
}

.quiqqer-bricks-children-slider-container {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-children-slider-container-inner {
    float: left;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-products-control-product-childrenslider .quiqqer-bricks-children-slider-container-slide {
    display: flex;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.quiqqer-bricks-children-slider-child {
    display: inline-block;
    float: none;
    height: calc(100% - 2px);
    padding: 0;
    width: 25%;
    flex-shrink: 0;
}

@media screen and (max-width: 1000px) {
    .quiqqer-bricks-children-slider-child {
        width: 33.3333%;
    }
}

@media screen and (max-width: 767px) {
    .quiqqer-bricks-children-slider-child {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .quiqqer-bricks-children-slider-child {
        width: 300px;
    }
}

.quiqqer-bricks-children-slider-child-display {
    border: 1px solid #dfe4e4;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    overflow: hidden;
    padding: 0;
}

.quiqqer-bricks-children-slider-child:first-child .quiqqer-bricks-children-slider-child-display {
    margin-left: 0;
}

.quiqqer-products-control-product-childrenslider-entry {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.quiqqer-products-control-product-childrenslider-entry-image {
    height: 50%;
    padding: 10px;
    width: 100%;
    flex-shrink: 0;
}

.quiqqer-products-control-product-childrenslider-entry__noPrice .quiqqer-products-control-product-childrenslider-entry-image {
    height: 65%;
}

.quiqqer-products-control-product-childrenslider-entry-image a {
    display: block;
    height: 100%;
    width: 100%;
}

/**
 * With this css properties the image is always centered and not stretched ig image is smaller than container
 */
.quiqqer-products-control-product-childrenslider-entry-image a img {
    max-height: 100%;
    max-width: 100%;
    height: 100%; /* 1 */
    object-fit: contain; /* 1 */
}

/* header */
.quiqqer-products-control-product-childrenslider-entry header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    margin: 1em 0;
    padding: 0 10px;
}

.quiqqer-products-control-product-childrenslider-entry header a {
    color: inherit;
    font-size: 1.2rem;
    white-space: normal;
    line-height: 1.5rem;
}

/* price */
.quiqqer-products-control-product-childrenslider-entry-price-wrapper {
    padding: 0 10px;
}

.quiqqer-products-control-product-childrenslider-entry-price-wrapper .qui-products-price-display {
    line-height: 1.5rem;
}

.quiqqer-products-control-product-childrenslider-entry-price-regularPrice .qui-products-price-display-value {
    font-weight: bold;
    margin-top: auto;
}

.quiqqer-products-control-product-childrenslider-entry-price-wrapper {
    margin-bottom: 1rem;
}

.quiqqer-products-control-product-childrenslider-entry-price-retailPrice {
    margin-top: auto;
    text-decoration: line-through;
}

/* buttons */
.quiqqer-products-control-product-childrenslider-entry-productButtons {
    margin: auto 0 1em;
    padding: 0 10px;
}

.quiqqer-products-control-product-childrenslider-entry-productButtons a {
    cursor: pointer;
    display: inline-block;
    float: none;
    margin: 0 5px;
}

.quiqqer-products-control-product-childrenslider-entry-productButtons label {
    cursor: pointer;
}

/* navigation arrows */
.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-prev,
.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-next {
    align-items: center;
    border-color: rgba(51, 51, 51, 0.2);
    border-radius: 0;
    color: #666;
    cursor: pointer;
    display: flex;
    font-size: 50px;
    height: calc(100% - 2px);
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: visible;
    width: 50px;
    z-index: 1;
}

.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-next {
    right: -50px;
}

.quiqqer-bricks-children-slider .quiqqer-bricks-children-slider-prev {
    left: -50px;
}

.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-next {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    right: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-prev {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    left: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-prev:hover,
.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-next:hover {
    background: rgba(188, 188, 188, 0.5);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


