
.page-content-header-description {
    margin-bottom: 20px;
}

.product-gallery {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .product-gallery {
        padding-right: 0;
    }
}

.product-gallery .quiqqer-gallery-slider {
    border: 1px solid #f1f1f1;
}

.product-gallery .fa-play,
.product-gallery .fa-random {
    display: none;
}

.product-close-button {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

/** Produktdaten
 =========================================== */

.product-data {
    padding-left: 10px;
}

.product-data h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px !important;
}

@media (max-width: 768px) {
    .product-data {
        padding-left: 0;
    }
}

/** Felder
 =========================================== */

.product-data-fields {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
}

.product-data-fields-title,
.product-data-fields-value {
    font-size: 14px;
    text-align: left;
}

.product-data-fields-title {
    font-weight: bold;
}

/** Liste
 =========================================== */

.product-data-fieldlist {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.product-data-fieldlist .quiqqer-product-field {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.product-data-fieldlist .quiqqer-product-field-title,
.product-data-fieldlist .quiqqer-product-field-value {
    float: left;
    width: 50%;
}

.product-data-fieldlist .quiqqer-product-field-value select {
    width: 100%;
}

/** Preis
 =========================================== */

.product-data-price {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.product-data-price-vat {
    clear: both;
    float: left;
    font-size: 12px;
    text-align: right;
    width: 100%;
}

.qui-products-price-display-value {
    clear: both;
    color: #e91d2c;
    float: left;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: right;
    width: 100%;
}

.qui-products-price-display-vat {
    clear: both;
    display: block;
    line-height: 20px;
    font-size: 12px;
    text-align: right;
}

/** buttons
 =========================================== */

.product-data-actionButtons {
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.product-data-actionButtons .watchlist-add {
    font-size: 12px !important;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    width: calc(50% - 5px);
}

.product-data-actionButtons .quiqqer-watchlist-purchase-button {
    font-size: 12px !important;
    line-height: 30px;
    width: calc(50% - 5px);
}

@media (max-width: 400px) {
    .product-data-actionButtons .watchlist-add {
        width: 100%;
    }

    .product-data-actionButtons .quiqqer-watchlist-purchase-button {
        width: 100%;
    }
}

/** Details
 =========================================== */

.product-data-more {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}

.product-data-more-tabsContainer {
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.product-data-more-prev,
.product-data-more-next {
    cursor: pointer;
    display: none;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 20px;
}

.product-data-more-tabs {
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.product-data-more-tabs-tab {
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    cursor: pointer;
    display: inline-block;
    float: none;
    line-height: 50px;
    padding: 0 20px;
}

.product-data-more-sheets {
    border: 1px solid #f1f1f1;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.product-data-more-sheet {
    left: 0;
    outline: none;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.product-data-more-sheet.hide {
    display: none;
    opacity: 0;
}

/** Details
 =========================================== */

.product-data-more-details-description {
    margin-bottom: 20px;
}

.product-data-more-details-table {
    border-collapse: collapse;
    width: 100%;
}

.product-data-more-details-table th {
    text-align: left;
    font-size: .75em;
    padding-right: 20px;
}

.product-data-more-details-table tr {
    outline: 0;
    border: 0;
}

.product-data-more-details-table tr:hover td {
    background: #f6f6f6;
}

.product-data-more-details-table td {
    border: 0;
    border-bottom: 1px solid #edf1f5;
    outline: 0;
    padding: 5px 0;
    vertical-align: top;

    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}

.product-data-more-details-table tr:nth-child(odd) {
    background: #edf1f5;
}

.product-data-more-details-table tr:last-child td {
    border-bottom: none;
    width: 100%;
}

.product-data-more-details-table .quiqqer-product-field-title {
    float: left;
    max-width: 300px;
    padding: 0 0 0 10px;
    width: 20%;
}

.product-data-more-details-table .quiqqer-product-field-value {
    float: left;
    padding-left: 10px;
    width: 80%;
}

@media (max-width: 768px) {
    .product-data-more-details-table .quiqqer-product-field-title {
        width: 40%;
    }

    .product-data-more-details-table .quiqqer-product-field-value {
        width: 60%;
    }
}

/** Files table
 =========================================== */

.product-data-files-table {
    border-collapse: collapse;
    width: 100%;
}

.product-data-files-table th {
    text-align: left;
    font-size: .75em;
    padding-right: 20px;
}

.product-data-files-table tr {
    outline: 0;
    border: 0;
}

.product-data-files-table tr:hover td {
    background: #f6f6f6;
}

.product-data-files-table-download,
.product-data-files-table-preview,
.product-data-files-table-title {
    border: 0;
    border-bottom: 1px solid #edf1f5;
    outline: 0;
    padding: 5px 0;
    vertical-align: top;

    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}

.product-data-files-table-preview img {
    padding: 10px 10px 0 10px;
}

.product-data-files-table-title {
    text-align: left;
}

.product-data-files-table-download,
.product-data-files-table-preview {
    text-align: center;
    width: 50px;
}

.product-similar-products {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 100%;
}

.product-similar-products header {
    padding-bottom: 20px;
}