.quiqqer-products-controls-product-productPicker {
    --_product-maxHeight: 200px;
    --_sheet-maxWidth--desktop: var(--sheet-maxWidth--desktop, 20rem);
    --_sheet-maxWidth--mobile: var(--sheet-maxWidth--mobile, 30rem);
    --_sheet-maxWidth: var(--_sheet-maxWidth--desktop);
    --_max-sheets: var(--max-sheets, var(--_q-conf--countSheets, 3));
    --_sheet-column--desktop: var(--sheet-column, repeat(var(--_max-sheets), minmax(0, var(--_sheet-maxWidth))));
    --_sheet-column--mobile: var(--sheet-column--mobile, repeat(1, minmax(0, var(--_sheet-maxWidth))));
    --_sheet-column: var(--_sheet-column--desktop);
}

@media screen and (max-width: 767px) {
    .quiqqer-products-controls-product-productPicker {
        --_sheet-column: var(--_sheet-column--mobile);
        --_sheet-maxWidth: var(--_sheet-maxWidth--mobile);
    }
}

/***********/
/* options */
/***********/
.quiqqer-products-controls-product-productPicker__options {
    text-align: center;
    margin-bottom: 2rem;
}

.quiqqer-products-controls-product-productPicker__options--button-style1 {
    --_options-bgColor: var(--q-products-productPicker-options-bgColor, #f2f2f2);
    --_options-padding: var(--q-products-productPicker-options-padding, 0.25em);
    --_options-gap: var(--q-products-productPicker-options-gap, 0.5em);
    --_options-radius: var(--q-products-productPicker-options-radius, 1rem);
    --_options-borderColor: var(--q-products-productPicker-options-borderColor, #222);
    --_options-borderWidth: var(--q-products-productPicker-options-borderWidth, 2px);
    --_options-btn-color: var(--q-products-productPicker-options-btn-color, color-mix(in hsl, currentColor, transparent 30%));
    --_options-btn-bgColor: var(--q-products-productPicker-options-btn-bgColor, transparent);
    --_options-btn-borderColor: var(--q-products-productPicker-options-btn-borderColor, transparent);
    --_options-btn-borderRadius: var(--q-products-productPicker-options-btn-borderRadius, calc(var(--_options-radius) - var(--_options-padding)));
    --_options-btn-selected-color: var(--q-products-productPicker-options-btn-selected-color, inherit);
    --_options-btn-selected-bgColor: var(--q-products-productPicker-options-btn-selected-bgColor, #fff);
    --_options-btn-selected-borderColor: var(--q-products-productPicker-options-btn-selected-borderColor, #fff);

    display: flex;
    justify-content: center;
}

.quiqqer-products-controls-product-productPicker__options--button-style1 .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--_options-gap);
    background-color: var(--_options-bgColor);
    padding: var(--_options-padding);
    border-radius: var(--_options-radius);
}

.quiqqer-products-controls-product-productPicker__options--button-style1 .inner label {
    flex-grow: 1;
}

/* visually hidden */
.quiqqer-products-controls-product-productPicker__options--button-style1 [type="radio"] {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.quiqqer-products-controls-product-productPicker__options--button-style1 .btn {
    border-radius: var(--_options-btn-borderRadius);
    color: var(--_options-btn-color);
    background-color: var(--_options-btn-bgColor);
    border-color: var(--_options-btn-borderColor);
}

.quiqqer-products-controls-product-productPicker__options--button-style1 [type="radio"]:checked + .btn {
    background-color: var(--_options-btn-selected-bgColor);
    color: var(--_options-btn-selected-color);
    border-color: var(--_options-btn-selected-borderColor);
    width: 100%;
}



/**********/
/* sheets */
/**********/
.quiqqer-products-controls-product-productPicker__sheets {
    display: grid;
    grid-template-columns: var(--_sheet-column);
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.quiqqer-products-controls-product-productPicker__sheet {
    background: #fff;
    border: 2px solid #222;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiqqer-products-controls-product-productPicker__sheet.highlighted {
    box-shadow: 0 4px 16px #11111133;
    margin-block: -0.5rem;
    padding-block: 2.5rem;
}

.quiqqer-productPicker-sheet__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quiqqer-productPicker-sheet__title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.quiqqer-productPicker-sheet__content {
    margin-bottom: 1rem;
}

/*****************/
/* sheet product */
/*****************/
.quiqqer-productPicker-sheet-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.quiqqer-productPicker-sheet-product__image {
    text-align: center;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
}

.quiqqer-productPicker-sheet-product__image img {
    max-height: var(--_product-maxHeight);
}

.quiqqer-productPicker-sheet-product__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quiqqer-productPicker-sheet-product__content {
    margin-bottom: 1rem;
}

.quiqqer-productPicker-sheet-product__price {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: auto;
}

.quiqqer-productPicker-sheet-product__actions {
    margin-top: 1rem;
}

/* !!! this is only until all templates support it !!! */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
