.product-galery {
    padding-right: 10px;
}

.product-galery .quiqqer-gallery-slider {
    border: 1px solid #f1f1f1;
}

/** Produktdaten
 =========================================== */

.product-data {
    padding-left: 10px;
}

.product-data h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px !important;
}

/** Felder
 =========================================== */

.product-data-fields {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
}

.product-data-fields-title,
.product-data-fields-value {
    font-size: 14px;
    text-align: left;
}

.product-data-fields-title {
    font-weight: bold;
}

/** Liste
 =========================================== */

.product-data-fieldlist {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.product-data-fieldlist .quiqqer-product-field {
    clear: both;
    float: left;
    width: 100%;
}

.product-data-fieldlist .quiqqer-product-field-title,
.product-data-fieldlist .quiqqer-product-field-value {
    float: left;
    width: 50%;
}

.product-data-fieldlist .quiqqer-product-field-value select {
    width: 100%;
}

/** Preis
 =========================================== */

.product-data-price {
    border-top: 1px solid #f1f1f1;
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.qui-products-price-display {
    clear: both;
    color: #e91d2c;
    float: left;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: right;
    width: 100%;
}

/** buttons
 =========================================== */

.product-data-actionButtons {
    clear: both;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.product-data-actionButtons .watchlist-add {
    font-size: 12px !important;
    margin-right: 10px;
}

.product-data-actionButtons .product-offer-button {
    font-size: 12px !important;
    line-height: 30px;
}

/** Details
 =========================================== */

.product-data-more {
    clear: both;
}

.product-data-more-tabs {
    float: left;
    width: 100%;
}

.product-data-more-tabs-tab {
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    cursor: pointer;
    float: left;
    line-height: 50px;
    padding: 0 20px;
}

.product-data-more-sheets {
    border: 1px solid #f1f1f1;
    float: left;
    height: 300px;
    position: relative;
    width: 100%;
}

.product-data-more-sheet {
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.product-data-more-sheet.hide {
    display: none;
    opacity: 0;
}



