
.quiqqer-products-search {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.quiqqer-products-category .page-content-short {
    margin-bottom: 20px;
}

.content-headerpage-multible-left .quiqqer-products-category-menu {
    float: left;
    margin-bottom: 40px;
    width: 100%;
}

.quiqqer-category-content {
    float: left;
    width: 100%;
}