
.quiqqer-products-search-form {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.quiqqer-products-search-form input[type="search"] {
    float: left;
    height: 40px;
    line-height: 40px !important;
    max-width: calc(100% - 100px);
    padding: 0 10px !important;
    width: 400px;
}

.quiqqer-products-search-form button {
    border: none;
    float: left;
    line-height: 40px !important;
    margin: 0;
    padding: 0 10px !important;
    width: 100px;
}
