<div class="quiqqer-products-mobileSuggest-results-list">
    <ul>
        {foreach $result as $productId}
        {assign var=Product value=QUI\ERP\Products\Handler\Products::getProduct($productId)}

        <li data-url="{$Product->getUrl()}">
            <div class="quiqqer-products-search-suggest-dropdown-icon">
                <img src="{$Product->getImage()->getSizeCacheUrl(100, 100)}"
                     alt="{$Product->getTitle()|escape:'html'}"
                />
            </div>

            <div class="quiqqer-products-search-suggest-dropdown-text">
                <div class="quiqqer-products-search-suggest-dropdown-title">
                    {$Product->getTitle($Locale)}
                </div>
                <div class="quiqqer-products-search-suggest-dropdown-description">
                    {$Product->getDescription($Locale)}
                </div>
            </div>

            {assign var=articleNo
            value=$Product->getFieldValueByLocale(QUI\ERP\Products\Handler\Fields::FIELD_PRODUCT_NO, $Locale)
            }

            {if !empty($articleNo)}
            <div class="quiqqer-products-search-suggest-dropdown-description-articlNo">
            <span>
                {locale group="quiqqer/products" var="productNo"}:
            </span>
                {$articleNo}
            </div>
            {/if}
        </li>
        {/foreach}
    </ul>

    {if $pages > 1 && ($showLinkToSearchSite && $searchUrl)}
    <div class="quiqqer-products-mobileSuggest-results-list-showAllResults">
        <a href="{$searchUrl}">
            {locale group='quiqqer/productsearch' var='settings.window.frontendSuggestSearch.frontend.showLinkToSearchSite.text'}
            <span class="fa fa-angle-right"></span>
        </a>
    </div>
    {/if}
</div>

<form>
    <select name="quiqqer-products-search-sheets">
        {section name=sheets start=0 loop=$pages}
        {assign var=num value=$smarty.section.sheets.index+1}
        <option value="{$num}" {if $num== $active}selected="selected" {/if}>
        {locale group="quiqqer/bricks"
            value="controls.pagination.mobile.option"
            from=$num
            max=$pages
        }
        </option>
        {/section}
    </select>
</form>
